<style type="text/css" media="screen">
  span.count {
    color: #12070761;
    font-style: italic;
  }
  .messages {
      text-align: center;
      margin-bottom: 2em;
      color: #5798a1!important;
  }
  .base--bg.awaiting-payment {
      background-color: #f44336 !important;
  }
  .base--bg.awaiting-confirmation {
      background-color: #3f51b5 !important;
  }
  .base--bg.active {
      background-color: #28a745 !important;
  }
  .span-details{
    color: #9c27b0 !important;
    font-style:italic;
  }
  .span-details a{
    color: #9c27b0 !important;
  }
  .logout-icon{
    color: #9c27b0 !important;
  }
  .btn-success{
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
  }
  .btn-success:focus{
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
  }
  .btn-success:hover{
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
  }
  .btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
}


</style>
